@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  font-family: 'Montserrat';
  background-image: url('background.png');
  background-size: auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* NAV  */
nav a {
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
  text-decoration: none;
  color: black;
  background-color: #ebeaea;
}

nav a:hover {
  background-color: #534949;
  color: white;
}

#nav {
  background-color: #c4c4c4;
}

#loggedInNav {
  display: flex;
  justify-content: space-between;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* DASH */
#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#singleCard {
  display: flex;
  flex-direction: column;
  background-color: #acd3df;
  width: 22%;
  height: 80%;
  margin: 2em;
  opacity: 0.75;
}

#singleCard:hover {
  opacity: 1;
}

#singleCardButtons {
  display: flex;
  margin: 0.5em;
  justify-content: space-around;
}

#info {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#images {
  display: flex;
}

img {
  width: 50%;
  height: auto;
}

button {
  font-family: 'Montserrat';
  background-color: #ebeaea;
  color: black;
  border: none;
}

button:hover {
  font-family: 'Montserrat';
  background-color: #534949;
  color: white;
  border: none;
}
#delete:hover {
  background-color: #d88d8d;
}

/* FORM */
form {
  justify-content: center;
  padding: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#formContainer {
  /* justify-content: center; */
  margin: 5em;
  background-color: #ebeaea;
  opacity: 0.8;
  width: 20%;
  height: 80%;
}

#submit {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

input {
  font-family: 'Montserrat';
}

/* POPUP */
.popup-content {
  width: 75%;
}

/* OVERVIEW */
#dataContainer {
  display: flex;
  justify-content: space-around;
}

#dataDiv {
  display: flex;
  flex-direction: column;
  background-color: #acd3df;
  width: 30%;
  height: 75vh;
  opacity: 0.75;
  margin: 1em;
}

#dataDiv:hover {
  opacity: 1;
}

#pies {
  width: 33%;
  height: 33%;
}

h2 {
  padding: 1em;
  background-color: #ebeaea;
  margin: 1em;
  width: 40%;
  height: 5%;
  font-size: medium;
}
